body{
    display: flex;
    justify-content: center;
align-items: center;
background-image: url("love.jpg");
background-size:cover;
}


#box{
height:100px;
width: 100px;
background-color:rgb(255, 191, 0);
position: relative;
margin-top: 70px;
border-radius: 50%;
box-shadow: 2px 2px 10px 2px black;

}
#eye1{
    height:30px;
width: 30px;
position: absolute;
border-radius: 50%;
margin-top: 50px;
border-color:black;
background-color: aliceblue;
margin-left: 50px;

}
#eye2{
    height:20px;
width: 20px;
position: absolute;
border-radius: 60%;
margin-top: 70px;
border-top: 4px solid black;
border-bottom: none;
margin-right: 50px;
}

#eyebrow2{
    height:10px;
width: 10px;
position: absolute;
background-color: black;
border-radius: 50%;
margin-top: 50px;
margin-left: 50px;

}

#mouth1{
    position: absolute;
    margin-top: 120px;
    width: 60px;
    height: 30px;
    border-radius: 50%;
    border-top: 10px;
    background-color: black;
}
#tongue{
    position: absolute;
    margin: 150px 0px 20px 0px;
    width: 25px;
    height: 40px;
    border-radius: 0% 50% 50% 50%;
    border-top: 20px;
    background-color: rgb(187, 14, 98);
    margin-bottom: 5px;
}
#tongue1{
    position: absolute;
    margin: 150px 0px 20px 0px;
    width: 2px;
    height: 10px;
    
    
    background-color:rgb(228, 28, 125);
    
}